@page "/"
@using TodoApp.Shared.DTO;
@using TodoApp.UI.Services;
@inject IQuestService QuestService

<PageTitle>Quests</PageTitle>

<h1 data-name="quests-information">Hello, add a quest that to be done!</h1>

@if (Loading)
{
    <LoadingIconComponent />
}
else
{
    <div class="mt-2">
        <div class="mb-2">
            <AddQuestComponent OnAdd="AddQuest" />
        </div>
        <QuestsComponent Quests="quests" OnUpdate="UpdateQuest" OnDelete="DeleteQuest" OnChangeStatus="ChangeStatus" />
    </div>
}

@code {
    public bool Loading { get; set; } = true;
    private List<QuestDto> quests = new();

    protected override async Task OnInitializedAsync()
    {
        await FetchQuests();
        await base.OnInitializedAsync();
    }

    private async Task AddQuest(QuestDto questDto)
    {
        await QuestService.Add(questDto);
        await FetchQuests();
    }

    private async Task UpdateQuest(QuestDto questDto)
    {
        await QuestService.Update(questDto);
        await FetchQuests();
    }

    private async Task DeleteQuest(QuestDto questDto)
    {
        if (questDto is null)
        {
            return;
        }

        await QuestService.Delete(questDto.Id);
        await FetchQuests();
    }

    private async Task ChangeStatus(ChangeQuestStatus changeQuestStatus)
    {
        await QuestService.ChangeStatus(changeQuestStatus);
        await FetchQuests();
    }

    private async Task FetchQuests()
    {
        Loading = true;
        quests = await QuestService.GetAll();
        Loading = false;
    }
}